.tb {
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ti1 {
    margin-left: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: aqua;
}

.ti2 {
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: aqua;
}

.ti3 {
    margin-left: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: aqua;
}

.ti4 {
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: aqua;
}

.ti5 {
    background-color: aqua;
}

.tr {
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}